
src/forms/__pycache__/login_form.cpython-310.pyc
src/forms/__pycache__/register_form.cpython-310.pyc
.idea/
__pycache__

src/static/project_imgs/*
src/static/.webassets-cache/*

src/data/db/*
src/data/texture_imgs/*

src/node_modules/*

*.sqlite

src/static/node-create/js/generated/main.js
src/static/editor/js/generated/main.js

src/.eslintrc.json
src/.stylelintrc.json

src/.vscode/settings.json
src/.vscode
src/.swp
.vercel
