
forms/__pycache__/login_form.cpython-310.pyc
forms/__pycache__/register_form.cpython-310.pyc
.idea/
__pycache__

static/project_imgs/*

data/db/*
data/texture_imgs/*

node_modules/*
static/editor/css/styles.css
templates/editor.html

*.sqlite

