{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/projects/css/projects.css">
    <div class="p-title">
        <h1>
            Here are your nodes
        </h1>
    </div>
    <hr>

    {% for node in nodes %}
        <div class="project" onclick="document.location = '/node/{{ node.id }}'">
            <div class="project-data">
                <span class="project-name">
                    {{ node.name }}
                </span>
                <br>
                <span class="project-description">
                    {{ node.description }}
                </span>
            </div>
        </div>
    {% endfor %}

    <div class="new-project">
        <button id="new-project" onclick="document.location = '/new_node'"> <span class="big-plus">+</span> Create new node </button>
    </div>
{% endblock %}