.explore {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #404040;
  background-color: #222222;
  box-shadow: 0 0 20px rgb(0 0 0 / 5%);
  transition: background-color ease-in-out 60ms,
  box-shadow ease-in-out 60ms,
  border ease-in-out 60ms;
}

.project:hover {
  background-color: #303030;
  border: 1px solid #ff7133;
  box-shadow: 0 0 5px #ff70338e;
  transition: background-color ease-in-out 60ms,
  box-shadow ease-in-out 60ms,
  border ease-in-out 60ms;
}

.pr-img {
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #404040;
}

.project-data {
  font-size: 130%;
  color: rgb(255, 113, 51);
  margin: 10px;
}

.main-content {
  width: 1000px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .main-content {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .explore {
    grid-template-columns: 1fr;
  }
}
