.main-content {
  width: 1000px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .main-content {
    width: 100%;
  }
}

.signin-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 700px) {
  .signin-grid {
    grid-template-columns: 1fr;
  }
}

form {
  background-color: #252525;
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
  border: 1px solid #404040;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

.form-control {
  background-color: #181818;
}

label {
  color: #ddd;
}
