<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/base/css/base.css">
    <title> GLSL Node editr </title>
</head>
<body>
<header>
    <div class="navbar">
        <div class="title">
            <a href="/"> GLSL Node Editor </a>
        </div>
        <div class="inner-bar">
            {% if current_user.is_authenticated %}
                <a>Hi, {{ current_user.name }}! </a>
                <a href="/project"> Projects </a>
                <a href="/node"> Nodes </a>
                <a href="/logout"> Logout </a>
            {% else %}
                <a href="/login"> Sign in </a>
            {% endif %}
        </div>
    </div>
</header>
<div class="onepxvoid"></div>
<div class="main-content">
    {% block content %} {% endblock %}
<footer>
    <div class="ftr">
        <span>GLSL Node Editor</span>
        <span style="text-align: center">Done by <a href=https://github.com/arthur100500">Arthur Alekseev</a> </span>
        <span style="text-align: end"><a href="https://github.com/arthur100500/glsl-node-editor">Project on GitHub</a></span>
    </div>
</footer>
</div>

</body>
</html>