{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/projects/css/projects.css">
    <div class="p-title">
        <h1>
            Here are your projects
        </h1>
    </div>
    <hr>

    {% for project in projects %}
        <div class="project" onclick="document.location = '/project/{{ project.id }}'">
            <div class="project-image">
                 <img class="pr-img" src="/static/project_imgs/{{ project.img_src }}">
            </div>
            <div class="project-data">
                <span class="project-name">
                    {{ project.name }}
                </span>
                <br>
                <span class="project-description">
                    {{ project.description }}
                </span>
            </div>
        </div>
    {% endfor %}

    <div class="new-project">
        <button id="new-project" onclick="document.location = '/new_project'"> <span class="big-plus">+</span> Create new project </button>
    </div>
{% endblock %}